<div data-controller="position" data-position-fuel-type-id-value="<%= fuel_type.id %>" data-position-coords-value="<%= params[:user_lat].present? && params[:user_lng].present? %>" class="container-index" style="width:100vw; height:100vh;">

  <li class="nav-item dropdown">
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <% fuel_types.each do |fuel_type| %>
        <%= link_to fuel_type.name, stations_fuel_types_path(fuel_type_id: fuel_type.id), class: "dropdown-item" %>
      <% end %>
    </div>
    <h4 class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fuel_type.name %></h4>
    <%# passamos o elemento da navbar para elemento html %>
  </li>
  <h5 class="text">Prices updated 4 days ago</h5>
  <%#=colocar aqui a data de atualização do ficheiro quando houver API %>

    <div class="card-prevision">
      <div class="card-previson-text">
        <p> Prevision for next week estimates a <strong>decrease</strong> of <strong>5 cents/l</strong>. Wait if you can</p>
      </div>
      <div class="little-arrow-box">
        <div id="arrow_down" class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-arrow-down-long"></i>
        </div>
      </div>
    </div>

  <div data-controller="stations-order">
    <div class="d-flex" style="justify-content: space-around; margin-top: 0px; margin-bottom: -15px;">
      <div>
        <button class="btn btn-flat active" data-stations-order-target="pricebutton" data-action="click->stations-order#orderByPrice">Price</button>
      </div>
      <div>
        <button class="btn btn-flat" data-stations-order-target="distancebutton" data-action="click->stations-order#orderByDistance">Distance</button>
      </div>
      <div>
        <button class="btn btn-flat" disabled style="background-color: #aaaaaa; color: white;">Smart</button>
      </div>
    </div>
    <div class="container-index" style="width:100vw; height:100vh;">
      <!-- RENDER SORT BY PRICE -->
      <div data-stations-order-target="sortbyprice">
        <%= render 'station_cards', fuel_type: @fuel_type, fuel_types: @fuel_types, stations_fuel_types: @sft_by_price%>
      </div>
      <!-- RENDER SORT BY DISTANCE -->
      <div data-stations-order-target="sortbydistance" class="d-none">
        <% if params[:user_lat] && params[:user_lng] %>
          <%= render 'station_cards', fuel_type: @fuel_type, fuel_types: @fuel_types, stations_fuel_types: @sft_by_distance %>
        <% end %>
      </div>
    </div>
  </div>
</div>
