<div class="container-index">
  <h1>Stations List</h1>
  <% @stations.each do |station| %>
    <div class="card-station">
      <%= link_to station_path(station), class: "btn btn-flat" do %>
        <%= station.name %>
        <%= station.brand %>
        <%= station.address %>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Home", root_path,  class: "btn btn-flat" %>
  <%= link_to "Vehicles",  vehicles_path %>
</div>
