<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "logo"%>
    <% end %>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <p> Hello <%= current_user.first_name %></p>
            <li class="nav_item_dropdown">
              <%= image_tag("https://www.freeiconspng.com/uploads/menu-icon-8.png", { class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false }) %>
              <div class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdown">
                <%= link_to "Stations", stations_fuel_types_path(@fuel_type), class: "dropdown-item" %>
                <%= link_to "Discounts", discounts_path, class: "dropdown-item" %>
                <%= link_to "Vehicles", vehicles_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%#  link_to "Stations", stations_fuel_types_path(@fuel_type), class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>
