<div class="container-index">
  <h1>Discounts List</h1>
  <% @discounts.each do |discount| %>
    <div class="">
        <%= discount.brand %>
        <%= discount.quantity %>
        <%= discount.min_fuel_l %>
        <%= discount.max_fuel_l %>
        <%= discount.expiry_date %>
    </div>
  <% end %>
  <%# <%= link_to "Home", root_path,  class: "btn btn-flat" %>
  <%# <%= link_to "Create Discount", new_discount_path,  class: "btn btn-flat" %>
</div>
