<div class="container-index">
  <h1>Discounts List</h1>
  <% @discounts.each do |discount| %>
    <div class="">
        <p>Brand:</p><%= discount.brand %>
        <p>Quantity:</p><%= discount.quantity %> <p>€/L</p>
        <p>Card:</p><%= discount.card %>
        <p>Description:</p><%= discount.description %>
        <p>Min Liters:</p><%= discount.min_fuel_l %>
        <p>Max Liters:</p><%= discount.max_fuel_l %>
        <p>Min User Age:</p><%= discount.min_user_age %>
        <p>Max User Age:</p><%= discount.max_user_age %>
        <p>Locations Applied:</p><%= discount.location_applied %>
        <p>Discount Type:</p><%= discount.discount_type %>
        <%# <%= discount.expiry_date %>
    </div>
  <% end %>
  <%# <%= link_to "Home", root_path,  class: "btn btn-flat" %>
  <%# <%= link_to "Create Discount", new_discount_path,  class: "btn btn-flat" %>
</div>
