<div class="container my-4">
  <%= link_to "Back to Stations", stations_fuel_types_path(@fuel_type) %> <!--ver se fica aqui ou como fica..-->
  <h1>My Discount List</h1>
    <!--Accordion wrapper-->
    <% if current_user.discounts.empty? %>
      <p>You haven't added any discounts yet</p>
    <% else %>
    <!---------------------show user discounts: ----------------->
      <!-- Accordion card -->
      <% current_user.discounts.each do |discount| %>
        <div class="card" style="background-color: aquamarine;">
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="mb-0">
                  <%#=card name:%><%= discount.card %> - <%= truncate(discount.description, length:10) %> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
                <%= link_to user_discount_path(discount) do %>
                  <i class="fa-solid fa-circle-minus"></i>
                <% end %>
              </a>
            </div>
            <!-- Card body -->   <!-- ITERAR AQUI NO ID DO DISCOUNT PARA O COLLAPSE FUNCIONAR?? -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                <p style="display: inline;"><strong>Brand: </strong></p><%= discount.brand %>
                <p style="display: inline;"><strong>Quantity: </strong></p><%= discount.quantity %><p style="display: inline;">€/L</p>
                <p style="display: inline;"><strong>Card: </strong></p><%= discount.card %>
                <p style="display: inline;"><strong>Description: </strong></p><%= discount.description %>
                <% if discount.min_fuel_l != 0 %>
                  <p style="display: inline;"><strong>Min Liters: </strong></p><%= discount.min_fuel_l %>
                <% end %>
                <% if discount.max_fuel_l != 999%>
                  <p style="display: inline;"><strong>Max Liters: </strong></p><%= discount.max_fuel_l %>
                <% end %>
                <% if discount.min_user_age %>
                  <p style="display: inline;"><strong>Min User Age: </strong></p><%= discount.min_user_age %>
                <% end %>
                <% if discount.max_user_age %>
                  <p style="display: inline;"><strong>Max User Age: </strong></p><%= discount.max_user_age %>
                <% end %>
                <% if discount.locations_applied %>
                  <p style="display: inline;"><strong>Locations Applied: </strong></p><%= discount.locations_applied %>
                <% end %>
                  <p style="display: inline;"><strong>Discount Type: </strong></p><%= discount.discount_type %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  <h1>Available Discounts</h1>
    <!---------------------show all discounts: ----------------->
      <ul class="list-group ListStyle" data-discounts-index-target="list">
        <% @discounts.each do |discount| %>
          <li class="list-group-item d-flex justify-content-between" data-controller = "discounts-index">
            <div class="wishlist-infos" data-discounts-index-target="discounts-index">
              <h2 style="font-size: 18px" class='m-0'><strong><%= discount.card %> - <%= truncate(discount.description, length:10) %></strong></h2>
              <p class="d-none mt-1" data-discounts-index-target="form">
                <%# if discount.card != current_user.discount.card  %> <!-- Ícone só aparece se ainda não estiver nos descontos do user -->
                <%= link_to discount_user_discounts_path(discount) do %>
                  <i class="fa-solid fa-circle-plus"></i>
                <% end %>
                <p style="display: inline;"><strong>Brand: </strong></p><%= discount.brand %>
                <p style="display: inline;"><strong>Quantity: </strong></p><%= discount.quantity %><p style="display: inline;">€/L</p>
                <p style="display: inline;"><strong>Card: </strong></p><%= discount.card %>
                <p style="display: inline;"><strong>Description: </strong></p><%= discount.description %>
                <% if discount.min_fuel_l != 0 %>
                  <p style="display: inline;"><strong>Min Liters: </strong></p><%= discount.min_fuel_l %>
                <% end %>
                <% if discount.max_fuel_l != 999%>
                  <p style="display: inline;"><strong>Max Liters: </strong></p><%= discount.max_fuel_l %>
                <% end %>
                <% if discount.min_user_age %>
                  <p style="display: inline;"><strong>Min User Age: </strong></p><%= discount.min_user_age %>
                <% end %>
                <% if discount.max_user_age %>
                  <p style="display: inline;"><strong>Max User Age: </strong></p><%= discount.max_user_age %>
                <% end %>
                <% if discount.locations_applied %>
                  <p style="display: inline;"><strong>Locations Applied: </strong></p><%= discount.locations_applied %>
                <% end %>
                  <p style="display: inline;"><strong>Discount Type: </strong></p><%= discount.discount_type %>
              </p>
            </div>
            <i class="fa-solid fa-chevron-down" data-action="click->display-info#displayForm"></i>
          </li>
        <% end %>
      </ul>
  <%# <%= link_to "Create Discount", new_discount_path,  class: "btn btn-flat" %>
</div>
