<div class="container p-0">
  <h1>New Discount</h1>
  <%= simple_form_for [@discount] do |f| %>
    <%= f.input :card, label: 'Card Name'%>
    <%= f.input :brand, label: 'Station brand' %>
    <%= f.input :quantity, label: 'Cents/liter (€)', collection: 0.01..0.99, selected: 0.05 %>
    <%= f.input :description, label: 'Description' %>
    <%= f.input :discount_type, label: 'Discount Type', collection: ["Direct Discount", "Discount in Continente Card"] %>
    <%= f.input :min_fuel_l, label: 'Min fuel liter (if any)' %>
    <%= f.input :max_fuel_l, label: 'Max fuel liter (if any)'%>

    <%# <%= f.input :expiry_date, label: 'Expiry date'%>
    <%= f.submit "Create", class: "btn btn-primary" %>
    <%= link_to "Back", discounts_path, class: "btn btn-flat" %>
    <%= link_to "Home", root_path, class: "btn btn-flat" %>
  <% end %>
</div>
