<div class="container-page">
  <div class="container_edit_vehicles position-absolute top-50 start-50 translate-middle">
    <div class="row d-flex">
      <ul>
        <% current_user.vehicles.each do |vehicle| %>
          <div class="margins-brand col-8"><%= vehicle.brand %></div>
          <div class="margins-model col"><%= vehicle.model %></div>
          <%= link_to "Edit Vehicle", edit_vehicle_path(vehicle) %>
        <% end %>
      </ul>
    </div>

      <%# <%= link_to "Back",  root_path %>
      <%= link_to "Create Vehicle",  new_vehicle_path %>
  </div>
</div>
<%= link_to "Back to Stations", stations_fuel_types_path(@fuel_type) %>
<%= link_to "Create Vehicle",  new_vehicle_path %>
